html {
    overflow-x:hidden;
}

.footer {
    background-color: black;
    color:#FFFFFF;
    height:max-content;
    width:max-content;
    box-shadow:0px 0px 190px 130px black;
}

.logo {
    width:auto;
    height:50px;
    margin-bottom:5px;
}

body {
    background-color:#141414;
    color:white;
}

a, .a {
    color:#E77500;
}

a:hover, .a:hover {
    color:red;
    transition-duration: 0.7s;
}


.navbar {
    background-color:#E77500;
    border-bottom:1px solid white;
}

.nav-link {
    color:black;
    font-weight:440;
    font-size:16px;
}

.active {
    color:white;
    font-weight:900;
}

.container {
    margin-top:100px;
}

.jumbotron-fluid {
    background-image:url(imgs/princetonSchool.jpg);
    height:650px;
    margin-top:55px;
    background-position-x: center;
    border-bottom:1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt {
    background-color:rgba(0,0,0,0.7);
    width:fit-content;
    margin-left:30px;
    margin-right:30px;
    padding-top:10px;
    padding-bottom:5px;
}

main {
    margin-bottom:300px;
}

.card-img-top{
    height:230px;
}

.card {
    width:300px;
    margin: 0 auto;
}

.demo {
    width:600px;
    height:300px;
}

p {
    font-size:19px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color:black;
    width:30px;
    height:30px;
}

.carousel-indicators {
    background-color:black;
    width:60px;
    justify-content:center;
}

td {
    width:1000px;
}


.accordion-button {
    background-color:#E77500;
    color:black;
    font-weight:bold;
}
