html {
    overflow-x:hidden;
}

.footer {
    background-color: #141414;
    color:#FFFFFF;
}

.logo {
    width:auto;
    height:50px;
    margin-bottom:5px;
}

body {
    background-color:#141414;
    color:white;
}

a {
    color:white;
}

.navbar {
    background-color:#E77500;
    border-bottom:2px solid white;
}